region      = "us-east-1"
project     = "giftgen"
environment = "dev"

vpc_cidr        = "10.20.0.0/16"
azs             = ["us-east-1a", "us-east-1b", "us-east-1c"]
public_subnets  = ["10.20.0.0/20", "10.20.16.0/20", "10.20.32.0/20"]
private_subnets = ["10.20.128.0/20", "10.20.144.0/20", "10.20.160.0/20"]
node_instance_types = ["t4g.small"]
node_ami_type       = "AL2023_ARM_64_STANDARD"
node_desired_size   = 3
node_min_size       = 3
node_max_size       = 6

cloudflare_zone_id    = "your-cloudflare-zone-id"
frontend_hostname     = "dev.giftgen.mithrak.com"
frontend_cname_target = "cname.vercel-dns.com"
api_hostname          = "api-dev.giftgen.mithrak.com"
argocd_hostname       = "argocd-dev.giftgen.mithrak.com"
cognito_domain_prefix = "giftgen-dev-auth-mithrak"

cognito_callback_urls = [
  "https://dev.giftgen.mithrak.com/auth/callback"
]

cognito_logout_urls = [
  "https://dev.giftgen.mithrak.com"
]

cognito_password_minimum_length    = 7
cognito_password_require_lowercase = false
cognito_password_require_uppercase = false
cognito_password_require_numbers   = true
cognito_password_require_symbols   = false

enable_backend_delivery     = true
backend_repository_full_name = "mitkan191003/giftgen-backend"
backend_repository_branch    = "main"
backend_connection_name      = "giftgen-dev-backend"
enable_argocd_refresh        = true
argocd_application_name      = "giftgen"
